@{
    ViewData["Title"] = "About";
}

<head>
    @if (!User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 10px">
            <div class="container text-center">
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav d-inline-block text-center navbar-right ">
                        <li class="navbar-header "><a asp-area="" asp-controller="Users" asp-action="Login" class="navbar-brand">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    }

</head>
<body id="HomeForm">
    <h1 class="text-center">WELCOME</h1>
    <div style="text-align: center">
        <img src="~/Images/Logo.png" class="img-fluid" style="width: 600px; height: auto;" />
    </div>
    
</body>
<footer>
    @if (!User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-inverse navbar-fixed-bottom text-center" style="height: 10px; width: auto;">
            <p class="nav-item" style="padding-top: 15px;"><a style="color: white;">&copy; 2018 - WebProject</a></p>
        </nav>
    }
</footer>